body {
    color:rgb(134, 159, 214);
    background: rgb(155, 6, 6);
    margin: 0px;
    font-family: "Tiny5", sans-serif;
    margin-bottom: 75px;
}


header{
    border-bottom: solid 2px rgb(251, 255, 0);
    padding: 20px;
    font-size: 35px;
    color: rgb(251, 255, 0);
}



.chamada{
    background: rgb(36, 35, 35);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1{
    front-size: 40px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
 
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.3;
}

img{
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(251, 255, 0);
}

.categoria h2 {
    color: rgb(251, 255, 0);
}